<!DOCTYPE html>
<html>
<head>
  <title>LoadbalancerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

Server: <%= $hostname %><br/>
Request IP: <%= request.ip %><br/>
Remote Addr: <%= request.env["REMOTE_ADDR"] %><br/>
Forwarded For: <%= request.env["HTTP_X_FORWARDED_FOR"] %><br/>
Remote IP: <%= request.remote_ip %><br/>
</body>
</html>
